.polaroid {
  position: relative;
  width: 220px;
}
 
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px 3px #777;
          box-shadow: 3px 3px 3px 3px #777;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  bottom: 10px;
  left: 10px;
}

.favorite {
  position: absolute;
  right: 15px;
  bottom: 50px;
  color: darkgoldenrod;
}

.fa-thumbtack {
  color: darkred;
  transform: rotate(30deg);
  position: absolute;
  top: 0px;
}